<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <cors enabled="false">
            <add origin="*" >
                <allowHeaders allowAllRequestedHeaders="true" />
            </add>
            <add origin="http://localhost:*" allowed="true">
                <allowHeaders allowAllRequestedHeaders="true" />
            </add>
        </cors>
    </system.webServer>
</configuration>